

.header {
    width: 100%;
    height: 150px;
    background: rgb(0, 255, 128);
}

.body-container {
    width: 100%;
    height: 750px;
}
.left-menu {
    width: 200px;
    height: 100%;
    background: black;
    margin-top: 10px;
    float: left;
}

.right-body {
    width: 740px;
    height: 100%;
    background: orange;
    margin-top: 10px;
    margin-left: 10px;
    float: right;
}


.footer {
    width: 100%;
    height: 120px;
    background: red;
    margin-top: 15px;
}